<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>

    {% include 'snippets/nav-bar.html' %} 

    {% block content %}
      
    {% endblock content %}
  </body>
</html>
